body {
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

div#scoreBoard {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button{
    padding: 10px 10px;
    margin: 3px 3px ;
    font-size: larger;
    font-weight: 400;
    width: 90px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

span#playerScore, span#computerScore{
    font-size: 70px;
    font-weight: 500;
    margin: 25px 25px;
}

div#printBox{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(153, 108, 108);
    border-radius: 2px;
    padding: 8px;
    background-color: aliceblue;
}

div#mainBox{
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 6px;
    padding-bottom: 20px;
    padding-top: 20px;
}

div#player-mode button  {
    margin-top: 20px;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 2px;
} 

#reset-btn{
    background-color: black;
    color: #fff;
}

#endless-btn{
    
}